@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

::-webkit-scrollbar-track {
  background-color: #fefbf6;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555555 #fefbf6;
}
